@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pizzeria</h1>
    <p class="lead">Witaj na stronie Pizzerii!</p>
    <p>
        @Html.ActionLink("Menu >", "Index", "Pizzas", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>