@model Pizzeria.Models.PizzaTopping

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Usuń</h2>
</div>

<h4>Czy napewno chcesz usunąć dodatek?</h4>
<br />
<div>
    <p>
        <b>
            @Html.DisplayFor(model => model.Name)
        </b>
    </p>
    @if (Model.Pizzas.Any())
    {
        <div>
            Nie można usunąć, składnik aktualnie wykorzystywany w pizzach:
        </div>
        foreach (var pizza in Model.Pizzas)
        {
            <div>
                @Html.ActionLink(pizza.Name, "Details", "Pizzas", new { id = pizza.Id }, new { })
            </div>
        }

    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-default" />
            </div>
        }
    }
    <br />
    @Html.ActionLink("Powrót", "Index")
</div>
