@model IEnumerable<Pizzeria.Models.PizzaTopping>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Dodatki</h2>
</div>
<p>
    @Html.ActionLink("Dodaj", "Create", "PizzaToppings", new { @class = "btn btn-default btn-large" })
</p>

<dl class="dl-horizontal">
    @foreach (var item in Model)
    {
        <dt>
            @Html.DisplayFor(modelItem => item.Name)
        </dt>
        <dd>
            <div class="btn-group btn-group-sm">
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
            </div>
        </dd>
    }
</dl>
