@using Pizzeria.ViewModels
@model RemainingPizzaTopping

@{
    ViewBag.Title = "AddPizzaTopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Wybierz dodatek do pizzy @Model.Pizza.Name</h2>
</div>
<h4>Dodatki:</h4>
@if (!Model.PizzaToppings.Any())
{
    <div>
        Brak dostępnych dodatków
    </div>
}
else
{
    <dl class="dl-horizontal">
        @foreach (var item in Model.PizzaToppings)
        {

            <dt>
                @Html.DisplayFor(model => item.Name)
            </dt>
            <dd>
                @using (Html.BeginForm("AddPizzaTopping", "Pizzas", new { id = Model.Pizza.Id, toppingId = item.Id }, FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Wybierz" class="btn btn-default btn-sm" />
                    </div>
                }
            </dd>

        }
    </dl>
}
<br />
@Html.ActionLink("Powrót", "Details", new { id = Model.Pizza.Id })

